/* f1-nav */
nav {
  margin-top: 15px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
}
nav a {
  /* styling */
  display: inline; 
  color: black;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  color: #81a3c2;
}

.container {
  /* flexbox */
  display: flex;
  align-items: center;
  height: 800px; 
  text-align: center;
  justify-content: space-evenly;
}

/* #backgroundVideo {
  position: fixed;
  top: 0;
  z-index:-1;
} */

th, td {
  padding: 15px;
  font-size: large;
  font-weight: bold;
}

